# OS
.DS_Store
.idea
*.log
tmp/

# Python
*.py[cod]
*.egg
*.egg-info/
**/__pycache__/
build/
dist/
htmlcov/

# Virtual environments
.venv
.venv*

# Secrets & credentials
.env
.env.*
*.key
*.pem
*.p12
secrets/

# Project outputs
outputs/
output/
inkforge/
